body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
}

/* Toggle Button */
.toggle {
    border-radius: 35px;
    cursor: pointer;
}

.toggle_input {
    display: none;
}

.toggle_input:checked ~ .toggle_fill {
    background-color: cornflowerblue;
}

.toggle_input:checked~.toggle_fill::after {
    transform: translateX(30.5px);
}

.toggle_fill::after {
    content: "";
    position:absolute;
    top: 2.5px; 
    left: 1.5px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 35px;
    transition: transform 0.2s;
}

.toggle_fill {
    margin-top: 10px;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 35px;
    background-color:rgb(220, 216, 216);
    transition: .4s;
}

/* form */
input {
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid rgb(222, 219, 219) 1.5px;
    height: 20px;
}

button {
    border: none;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    background-color: rgb(220, 216, 216);
    cursor: pointer;
    
}

.complete {
    margin-top: 10px;
    align-self: center;
}

/* Popup */

.popupHidden {
    border: solid 1.5px rgb(222, 219, 219);
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    opacity: 0%;
}

.popupShow {
    border: solid 1.5px rgb(222, 219, 219);
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    opacity: 100%;
}